.footer {
  background: linear-gradient(
    90deg,
    rgb(211, 40, 194) 5%,
    rgba(191, 40, 223, 1) 30%,
    rgba(127, 10, 166, 1) 98%
  );
  position: relative;
  .footer-wrap {
    position: absolute;
    text-align: center;
    padding: 25px 0;
    color: white;
    // bottom: 0;
    // left: 0;
    background: linear-gradient(
      90deg,
      rgb(211, 40, 194) 5%,
      rgba(191, 40, 223, 1) 30%,
      rgba(127, 10, 166, 1) 98%
    );
    width: 100%;
    margin: auto;
  }
}
