.viewWindow {
  background-color: rgb(234, 234, 234);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.289);
  top: 50%;
  left: 50%;
  width: 1170px;
  display: none;
  z-index: 666;
  position: fixed;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  height: 85vh;
  overflow: hidden;

  .btnWrap {
    position: absolute;
    top: 0;
    right: 0;
    .btnClose {
      width: 50px;
      height: 50px;
      font-size: 38px;
      border: none;
      background-color: inherit;
      overflow: hidden;
      cursor: pointer;
      transition: 0.2s;
      color: gray;

      &:hover {
        color: purple;
      }
    }
  }

  .windowWrap {
    display: flex;
    overflow: hidden;
    width: 1170px;
    height: 85vh;

    .prodImgWrap {
      width: 60%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .descrWrap {
      width: 40%;
      height: 100%;
      padding: 28px 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .detales {
        display: flex;
        flex-direction: column;
        padding-bottom: 480px;
        .prodTitle {
          font-size: 26px;
          font-weight: 500;
          margin-bottom: 10px;
        }
        .prodFirm {
          font-size: 20px;
          font-weight: 400;
          margin-bottom: 50px;
        }
        .prodPrice {
          font-size: 36px;
          font-weight: 600;
        }
      }

      .buttons {
        display: flex;
        justify-content: start;
        padding-top: 30px;
        .button-more {
          background: rgba(139, 139, 139, 0.442);
          color: rgb(210, 40, 193);
          height: 50px;
          width: 210px;
          text-align: center;
          cursor: pointer;
          font-size: 18px;
          font-weight: 600;
          border-color: inherit;
          border: none;
          border-radius: 10px;
          margin-right: 15px;
        }
        .like {
          width: 50px;
          height: 50px;
          border-radius: 10px;
          transition: 0.3s;
          cursor: pointer;
          font-size: 30px;
          color: rgb(255, 255, 255);
          border: 1px solid rgb(230, 98, 216);
          background-color: rgb(230, 98, 216);
        }
      }
    }
  }
}
